[Unit]
Description=clash service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=sup3r
ExecStart=/usr/local/bin/clash
Restart=on-failure 

[Install]
WantedBy=multi-user.target

